<a href="https://colab.research.google.com/github/yongjunseo8596/colab/blob/main/lesson6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

for문 1

In [ ]:
for i in range(3) :
  print("난생처음 파이썬은 재밌는데 인구쌤은 재미없습니다. ^^")

난생처음 파이썬은 재밌는데 인구쌤은 재미없습니다. ^^
난생처음 파이썬은 재밌는데 인구쌤은 재미없습니다. ^^
난생처음 파이썬은 재밌는데 인구쌤은 재미없습니다. ^^

for문 2

In [ ]:
for i in range(3) :
  print(i,"안산공고")

for문 3

In [ ]:
a=["짜장면","김밥","라면"]
for i in a :
  print(i)

짜장면
김밥
라면

for문 4

In [ ]:
for i in range(2,8,1): #첫번째 시작값, 두번째 최대값, 세번째 늘어나는단위
  print(i)

2
3
4
5
6
7

인구쓰앵의 즉석 for 문제

In [ ]:
a=0
for i in range(1,100,2):
  a+=i
  print(a)

인구쓰앵의 즉석 for 문제 2

In [ ]:
a=0
b=1
for i in range(1, 99, 2) :
  if b == 1:
    a+=1
    b*=-1
  else :
    a-=i
    b*=-1
print(a)

-1151

형성평가 줄세우기

In [ ]:
a=1
b=5
for i in range(1,b+1,1):
  a*=i
print(a)

120

형성평가 1부터10까지

In [ ]:
a=0
for i in range(1,11,1):
  a+=i
print(a)

55

1000~2000사이의 홀수의 합

In [ ]:
a,i=0,0
for i in range(1001,2001,2):
  a+=i
print(a)

750000

중첩 4문

In [ ]:
for i in range(3) :
  for k in range(2) :
    print("인구쌤 개그는 넘나 재미엄슴다 (i값:",i,"k값:",k)

인구쌤 개그는 넘나 재미엄슴다 (i값: 0 k값: 0
인구쌤 개그는 넘나 재미엄슴다 (i값: 0 k값: 1
인구쌤 개그는 넘나 재미엄슴다 (i값: 1 k값: 0
인구쌤 개그는 넘나 재미엄슴다 (i값: 1 k값: 1
인구쌤 개그는 넘나 재미엄슴다 (i값: 2 k값: 0
인구쌤 개그는 넘나 재미엄슴다 (i값: 2 k값: 1

형성평가 구구단

In [1]:
for i in range(2,10,1):
  for k in range(1,10,1):
    print(i,k,i*k)

2 1 2
2 2 4
2 3 6
2 4 8
2 5 10
2 6 12
2 7 14
2 8 16
2 9 18
3 1 3
3 2 6
3 3 9
3 4 12
3 5 15
3 6 18
3 7 21
3 8 24
3 9 27
4 1 4
4 2 8
4 3 12
4 4 16
4 5 20
4 6 24
4 7 28
4 8 32
4 9 36
5 1 5
5 2 10
5 3 15
5 4 20
5 5 25
5 6 30
5 7 35
5 8 40
5 9 45
6 1 6
6 2 12
6 3 18
6 4 24
6 5 30
6 6 36
6 7 42
6 8 48
6 9 54
7 1 7
7 2 14
7 3 21
7 4 28
7 5 35
7 6 42
7 7 49
7 8 56
7 9 63
8 1 8
8 2 16
8 3 24
8 4 32
8 5 40
8 6 48
8 7 56
8 8 64
8 9 72
9 1 9
9 2 18
9 3 27
9 4 36
9 5 45
9 6 54
9 7 63
9 8 72
9 9 81

while문의 무한반복

In [4]:
a=0
a1,a1=0,0
while True :
  a1 = int(input("숫자==> : "))
  a2 = int(input("숫자==> : "))
  if a1==0 :
    break;
  elif a2==0 :
    break;
  else :
    print(a)

숫자==> : 100
숫자==> : 100
0
숫자==> : 0
숫자==> : 0

주사위 횟수

In [19]:
import random
a=0;
a1,a2,a3 = 0,0,0;
while True :
  a+=1;
  a1=random.randint(1,10)
  a2=random.randint(1,100)
  a3=random.randint(1,1000)
  if a1==a2==a3 :
    break;

print(a1)
print(a)

6
285556

컴퓨터가 생각하는 숫자 맞추기

In [22]:
import random
a,b,c=0,0,0
b=random.randint(1,10)
for i in range(1,11,1) :3
7
8

  c+=1
  a=int(input("숫자를 입력해주세요 : "))
  if a==b :
    print("축하합니다.",c,"번만에 맞췄어요")
    break;
  else :
    print("틀렸습니다. 다시해보세요.")

숫자를 입력해주세요 : 1
틀렸습니다. 다시해보세요.
숫자를 입력해주세요 : 2
틀렸습니다. 다시해보세요.
숫자를 입력해주세요 : 3
틀렸습니다. 다시해보세요.
숫자를 입력해주세요 : 4
틀렸습니다. 다시해보세요.
숫자를 입력해주세요 : 5
틀렸습니다. 다시해보세요.
숫자를 입력해주세요 : 6
축하합니다. 6 번만에 맞췄어요

야구 게임

In [30]:
import random
c_l =[1,2,3,4,5,6,7,8,9]
c_n =[],u_n=[]

for i in range(3):
  r=random.choice(c_l)
  c_l.remove(r)
  c_n.append(r)
print(c_n)
u= input("3개 숫자 입력 1~9까지 ==> : ")
for i in range(0,5,2) :
  u_n.append(u[i])
st,ba=0,0
for i in range(3):
  if c_n[i] == u_n[i]:
    st=st+1
  elif u_n[i] == c_n[i]:
    ba +=1
  print(c_n,u_n,st)
  if st == 3 : break

[40, 15, 17]
3개 숫자 입력 1~50까지 ==> : 10,15,62
10,15,62